* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
}

.calculator {
  padding: 20px;
  background-color: #2d2f38;
  border-radius: 16px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.calculator input {
  width: 320px;
  border: none;
  padding: 24px;
  margin: 10px;
  background: transparent;
  font-size: 40px;
  text-align: right;
  cursor: pointer;
  color: #ffffff;
}
 
.calculator input::placeholder{
    color: white;
}

.calculator-btn-container .operator{
    color: aqua;
}

button:hover{
    transform: translateY(-5px);
}

.calculator-btn-container {
  display: flex;
  flex-direction: column;
}

.calculator-btn-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.calculator-btn-row button {
  border: none;
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 14px;
  background: #2d2f38;
  color: #ffffff;
  font-size: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s ease;
}

.row{
  display: flex;
}
.col{

  align-items: center;
  justify-content: center;
}


