*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto',serif;
}
.header{
  background-color: rgba(255,255,255,0.7);
}

.container{
  max-width: 1300px;
  margin: auto;
  padding: 0px 25px;
}

.navbar>nav{
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: flex-end;
  gap: 20px;
}

.navbar>nav a{
  text-decoration: none;
  color: #555;
}

.navbar nav a:nth-child(6) img{
  width: 30px;
  height: 30px;
}
.row{
  margin-top: 70px;
  display: flex;
  align-items: center;
}
.col{
  flex: 1;
}
.col h1{
   width: 100%;
   margin: 25px 0;
   font-weight: bold;
   font-size: 50px;
   line-height: 60px;
}
.col p{
   color: #555;
}
.col img{
  width: 100%;
  padding: 50px 0px;
}

.categories{
  margin: 70px 0px;
}

.container2{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row2{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col2{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col2 img{
  width: 100%;
}
 .container3 h2{
  text-align: center;
  display: block;
  color: #555;
  margin: 0 auto 80px;
  line-height: 50px;
 }
 
 .container3 h2::after{
  content:"";
  display: flex;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff523b;
 }

 .container3{
  max-width: 1080px;
  margin: auto;
  padding: 0px 25px;
  
 }

 .row3{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
 }

 .col3{
  flex-basis: 25%;
  padding: 10px;
  margin-bottom: 50px;
  min-width: 200px;
  transition: transform 0.5s;
 }

 .col3:hover{
  transform: translateX(-5px);
 }
 .col3 a img{
  width: 100%;
 }


.col3 p ,.col3 h4{
  color: #555;
}
 .rating img{
    width: 15px;
    height: 16px;
 }

 .offer{
  padding: 30px 0px;
  margin-top: 80px;
 }

 .container4{
  max-width: 1080px;
  margin: auto;
  padding: 0px 25px;
 }
 
 .row4{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
 }

 .col4{
  flex-basis: 50%;
  min-width: 300px;
 }

 .col4 img{
  max-width: 100%;
  padding: 50px;
 }

 .col4 h2{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0px;
 }
 small{
  color: #555;
  font-size: smaller;
 }

 .btn{
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0px;
  border-radius: 30px;
  transition: transform 0.5s;
 }

 .btn:hover{
  background-color: #566;
 }

 .rew{
  padding-top: 100px;
 }

 .container5{
  max-width: 1080px;
  margin: auto;
  padding: 0 25px;
 }

.row5{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col5{
  flex-basis: 30%;
  margin-bottom: 30px;
  min-width: 250px;
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px  0px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.5s;
}

.col5 p {
  margin: 12px 0px 25px;
  font-size: 12px;
  color: #777;
}

.col5>img{
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}

.col5 h3{
  font-size: 16px;
  color: #555 ;
  font-weight: 600;
}

.col5:hover{
  transform: translateY(-5px);
}


.brand{
  margin: 100px auto;
}

.container5{
  max-width: 1080px;
  margin: auto;
  padding: 0px 25px;
}

.row6{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col5{
  width: 160px;
}

.col6 img{
  width: 100%;
  cursor: pointer;
  filter:grayscale(100%);
  transition: filter 0.3s ease;
}

.col6 img:hover{
  filter: grayscale(0%);
}