*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins',sans-serif;
}

.gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.gameInfo{
    padding: 0 34px;
    font-family: 'Baloo Bhaina 2',cursive;
}
.gamer-info-details{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.info{
    font-size: 22px;
}

#reset{
    margin: 0 23px;
    padding: 4px 18px;
    background-color: #f3e7f9;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Baloo Bhaina 2';
    font-size: 15px;
    font-weight: bolder;
    height: 36px;

}

.game-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-row{
    display: flex;
    align-items: center;
}

.grid-Box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 10vw;
    
}
.grid-Box:hover{
    background-color: #f3e7f9;
}
.top{
    border-top: 0;
}

.bottom{
    border-bottom: 0;
}

.right{
    border-right: 0;
}

.left{
    border-left: 0;
}