*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins',sans-serif;
    background-color: #ffe5b4;
}

.start-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.start-btn button{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    padding: 15px 30px;
    background-color: #ff8c00;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.infobox{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 540px;
    background: #ffffff;
    border-radius: 5px;
    transform: translate(-50%,-50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transform: all 0.3s ease;
    /* after cliking start quiz */
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.info-title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}

.info-list{
    padding: 15px 30px;
}

.button{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}

.info{
    margin: 5px 0;
    font-size: 17px;
}

.info span{
    font-weight: 600;
    color: #007bff;
}

.button button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.quit{
    background-color: white;
    color: #007bff;
}

.restart{
    background-color: #007bff;
    color: white;
}

.quit:hover{
    background: #007bff;
    color: white;
}

.restart:hover{
    filter: grayscale(30%);
}