*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto',serif;
}
.header{
  background-color: rgba(255,255,255,0.7);
}

.container{
  max-width: 1300px;
  margin: auto;
  padding: 0px 25px;
}

.navbar>nav{
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: flex-end;
  gap: 20px;
}

.navbar>nav a{
  text-decoration: none;
  color: #555;
}

.navbar nav a:nth-child(6) img{
  width: 30px;
  height: 30px;
}
.row{
  margin-top: 70px;
  display: flex;
  align-items: center;
}
.col{
  flex: 1;
}
.col h1{
   width: 100%;
   margin: 25px 0;
   font-weight: bold;
   font-size: 50px;
   line-height: 60px;
}
.col p{
   color: #555;
}
.col img{
  width: 100%;
  padding: 50px 0px;
}

.categories{
  margin: 70px 0px;
}

.container2{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row2{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col2{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col2 img{
  width: 100%;
}
 .container3>h2{
  text-align: center;
  display: block;
  color: #555;
  margin: 0 auto 80px;
  line-height: 50px;
 }
 
 .container3>h2::after{
  content:"";
  display: flex;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff523b;
 }

 .container3{
  max-width: 1080px;
  margin: auto;
  padding: 0px 25px;
  
 }

 .row3{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
 }

 .col3{
  flex-basis: 25%;
  padding: 10px;
  margin-bottom: 50px;
  min-width: 200px;
  transition: transform 0.5s;
 }

 .col3:hover{
  transform: translateX(-5px);
 }
 .col3 a img{
  width: 100%;
 }


.col3 p ,.col3 h4{
  color: #555;
}
 .rating img{
    width: 15px;
    height: 16px;
 }

 .offer{
  padding: 30px 0px;
  margin-top: 80px;
 }

 .container4{
  max-width: 1080px;
  margin: auto;
  padding: 0px 25px;
 }
 
 .row4{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
 }

 .col4{
  flex-basis: 50%;
  min-width: 300px;
 }

 .col4 img{
  max-width: 100%;
  padding: 50px;
 }

 .col4 h2{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0px;
 }
 small{
  color: #555;
  font-size: smaller;
 }

 .btn{
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0px;
  border-radius: 30px;
  transition: transform 0.5s;
 }

 .btn:hover{
  background-color: #566;
 }

 .rew{
  padding-top: 100px;
 }

 .container5{
  max-width: 1080px;
  margin: auto;
  padding: 0 25px;
 }

.row5{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col5{
  flex-basis: 30%;
  margin-bottom: 30px;
  min-width: 250px;
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px  0px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.5s;
}

.col5 p {
  margin: 12px 0px 25px;
  font-size: 12px;
  color: #777;
}

.col5>img{
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}

.col5 h3{
  font-size: 16px;
  color: #555 ;
  font-weight: 600;
}

.col5:hover{
  transform: translateY(-5px);
}

.brand{
  margin: 100px auto;
}

.container6{
  max-width: 1080px;
  margin: auto;
  padding: 0px 25px;
}

.row6{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col6{
  width: 160px;
}

.col6 img{
  width: 100%;
  cursor: pointer;
  filter:grayscale(100%);
  transition: filter 0.3s ease;
}

.col6 img:hover{
  filter: grayscale(0%);
}

.footer{
  background-color:#222831;
  color:#eeeeee;
  font-size:14px;
  padding:60px 0 20px;
}
.container7{
  max-width: 1300px;
  margin: auto;
  padding: 0px 25px;
}
 .row7{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
 }

.footer h3{
  color: #ff523b;
  margin-bottom: 20px;
  font-weight: 500;
}

.col7-1 div{
  margin-top: 20px;
}
.col7-1 img{
  width: 140px;
  filter: brightness(1.1);
  margin: 5px 0px;
  transition: transform 0.5s ease;

}

.col7-2{
  flex: 1;
  text-align: center;
}

.col7-3{
  flex-basis: 12%;
  text-align: center;
  min-width:250px;
  margin-bottom: 20px;
}

.footer li{
  display: block;
  transition: color 0.3 ease;
  margin-bottom: 10px;
  cursor: pointer;
}

.footer li:hover{
  color: #ff523b;
}

.col7-1 img:hover{
  transform:translateY(-5px);
}

.row-h2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px auto 50px;
  h2{
    margin-left: 15px;
  }
}

select{
  border: 1px solid #ff523b;
  padding: 5px;
}

.next-page{
  margin: 0px auto 80px;
}

.next-page button{
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0px 5px;
  background-color: white;
  border: 1px solid #ff523b;
  transition: background-color 0.5s ease;
}

.next-page button:hover{
  background-color: #ff523b;
}

.productdetailscontainer{
  max-width: 1080px;
  margin: auto;
  padding: 0px 25px;
  margin-top: 80px;
}

.details-row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.details-col{
  flex-basis: 50%;
  min-width: 300px;
  padding: 20px;
}

.details-col img{
  max-width: 100%;
}

.small-image-row{
  display: flex;
  justify-content: space-between;
}

.small-image-col{
  flex-basis: 24%;
  cursor: pointer;
}

.small-image-col img{
  width: 100%;
}

.details-col p{
  color: #555;
}
.details-col h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0px;
}

.details-col h4{
  font-weight: bold;
  font-size: 22px;
  margin: 20px 0px;
}

.details-col select{
  margin-top: 20px;
  padding: 10px;
  display: block;
  border: 1px solid #ff523b;
}

.details-col input{
  width: 50px;
  height: 40px;
  padding-left: 10px;
  margin-right: 10px;
  border: 1px solid #ff523b;
  font-size: 20px;
}

.details-col .btn{
  text-decoration: none;
}

.details-col h3{
  margin-bottom: 20px;
}

.related-products{
  max-width: 1080px;
  align-items: center;
  margin: auto;
  justify-content: space-around;
}

.urg-row{
  display: flex;
  justify-content: space-between;
  margin: 100px auto 50px;
}

.urg-col p{
  color: #555;
}

.cart-page{
  margin: 80px auto;
}
.cart-container{
  max-width: 1080px;
  padding: 0px 25px;
  margin: auto;
}

.cart-container table{
  width: 100%;
  border-collapse: collapse;
}
 td{
  padding: 10px 5px;
 }

 .cart-info{
  display: flex;
  flex-wrap: wrap;
 }
 td img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
 }

 td input{
  width: 40px;
  height: 30px;
  padding: 5px;
 }
th{
  text-align: left;
  padding: 5px;
  color: #fff;
  background-color: #ff523b;
  font-weight: normal;
}
 td:last-child{
  text-align: right;
 }

 th:last-child{
  text-align: right;
 }
 .image-info p{
  color: #555;
 }

 .image-info a{
  text-decoration: none;
  color: #ff523b;
  font-size: 11px;
 }

 .about-bill{
  display: flex;
  justify-content: flex-end;
 }

 .about-bill table{
  width: 100%;
  border-top: 3px solid #ff523b;
  max-width: 380px;
 }

 .about-bill a{
  text-decoration: none;
 }

